// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.jumbo {
  position: absolute;
  left: 0;
  top: 50%;
  height: 300px;
  width: 100%;
  text-align: center;
  h1 {
    font-size: 9rem;
  }
  p {
    font-size: 6rem;
  }
}